{% extends 'core/base.html' %}
{% load static %}

{% block title %}Unsift - Manage Account{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
{% endblock %}

{% block content %}
    {% if validlink %}
    
      <div class="log-sign-full-center">
        <div id="log-sign-mutable-card">
          <h1 class="log-sign-func-header">Reset your password</h1>
          <p class="log-sign-2fa-auth" style="margin-bottom:25px">Create a new password for your Unsift account</p>
          <!--
          sign up:
          email, username, password fields, optional first name and last name, and checkboxes for the terms of service.
          -->
          <div class="log-sign-func-fields">
            <form method="post">
            {% csrf_token %}
            <div class="sign-fields--login">
              <div class="sign-opt-half-wrap" style="align-items:flex-start;flex-direction:column;">
              {{ form }}
              </div>
              <button type="submit" class="btn-primary ripple">Reset Password</button>
            </div>
            </form>
          </div>    
        </div>
      </div>
    {% else %}
    <div class="log-sign-full-center">
      <div id="log-sign-mutable-card">
        <p class="log-sign-2fa-auth" style="margin:15px">This password reset link is either invalid or has expired. Please <a href="{% url 'password_reset' %}" class="minor_pages_link" style="margin:0;padding:8px 0;">request a new one</a>.</p>
      </div>
    </div>
    {% endif %}
{% endblock %}

{% block jsfiles %}
<script src="{% static 'js/reset-forms-button.js' %}"></script>
{% endblock %}