{% extends 'core/base.html' %}
{% load static %}

{% block title %}Unsift - Manage Account{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
{% endblock %}

{% block content %}
<div class="log-sign-full-center">
  <div id="log-sign-mutable-card">
    <p class="log-sign-2fa-auth" style="margin:15px">If an account with the provided email exists, we will send you a message with instructions to reset your password. You should recieve it soon.</p>
    <p class="log-sign-2fa-auth">If you do not see an email from us, please ensure that you've entered a valid email address associated with an Unsift account and check your spam folder.</p>
    {% endblock %}
  </div>
</div>

{% block jsfiles %}
{% endblock %}