{% extends 'core/base.html' %}
{% load static %}

{% block title %}Unsift - Manage Account{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
{% endblock %}

{% block content %}
<div class="log-sign-full-center">
  <div id="log-sign-mutable-card">
    <p class="log-sign-2fa-auth" style="margin:15px">Your password has been sucessfully reset.</p>
    <p class="log-sign-2fa-auth" style="margin-bottom:10px">You may now <a href="{% url 'two_factor:login' %}" class="minor_pages_link" style="margin:0;padding:8px 0;">sign in</a> to your account.</p>
  </div>
</div>
{% endblock %}

{% block jsfiles %}
{% endblock %}