{% extends 'core/base.html' %}
{% load static %}

{% block title %}Unsift - Manage Account{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
{% endblock %}

{% block content %}
<div class="log-sign-full-center">
  <div id="log-sign-mutable-card">
    <h1 class="log-sign-func-header">Reset your password?</h1>
    <p class="log-sign-2fa-auth">Enter your account's associated email address and we'll send you a reset link</p>
    <!--
    sign up:
    email, username, password fields, optional first name and last name, and checkboxes for the terms of service.
    -->
    <div class="log-sign-func-fields">
      <form method="post">
      {% csrf_token %}
      <div class="sign-fields--login">
        <div class="sign-opt-half-wrap">
        {{ form }}
        </div>
        <button type="submit" class="btn-primary ripple">Send Link</button>
      </div>
      </form>
    </div>    
  </div>
</div>
    
{% endblock %}

{% block jsfiles %}
<script src="{% static 'js/reset-forms-button.js' %}"></script>
{% endblock %}